.icon-archive {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-bonus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-calendar {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-chat {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-contact {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-crm {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-dashboard {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-delete {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-edit {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-eye_c {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-eye_o {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-instructions {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-menu {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-notifications {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-notify {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-option {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-order {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-payment {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-post {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-project {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-review {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-service {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-settings {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-site {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sms {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-ssl {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-success {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-task {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-task_add {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-unlock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-upload {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: initial;
}
